<section class="box">
    <img class ="imagen" src="../../../assets/56153905_309236376409779_6756829214193745920_n_preview_rev_1-modified.png">
    <h1>Gaston Machaca</h1>
    <h2>Web Developer</h2>
    <p>Entusiasta en comprender el contexto tecnológico y todas sus ramas.
        Conocí la programación gracias a practicas de electrónica mientras cursaba la secundaria y decidí cambiar mi rumbo por lo que me apasiona y estar en continuo aprendizaje.
        Para lograr mis objetivos, decidí seguir la carrera "Tecnicatura en Programación" de la UTNFRA.</p>
</section>